[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = "*"
marshmallow = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-Bcrypt = "*"
PyJWT = "*"
gunicorn ="*"

[requires]
python_version = "3.7"
